h1 {
  background-color: #2b90b6;
  background-image: linear-gradient(45deg, #ff5242 10%, #eb179b 20%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

p {
  line-height: 2 !important;
}

::marker {
  color: #fb39bb;
}

ol li {
  list-style-type: none;
  line-height: 3rem !important;
}

body {
  color: #0f172a;
}

a {
  color: #0f172a;
}

a:hover {
  color: #cd097d !important;
}

html.dark {
  body {
    color: #f1f5f9;
  }

  a {
    color: #f1f5f9;
  }

  a:hover {
    color: #fb39bb !important;
  }
}
